<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){
        console.log('hello')
        let btn = document.querySelector('input[type="submit"]')
        btn.addEventListener('click', async function(e){
            e.preventDefault();
            let response = await fetch('/api/login', {
                method: "POST",
                body: new FormData(document.querySelector('form'))
            }

            )
            let response_json = await response.json();
            if (response_json.success){
                let body = document.querySelector('body');
                body.style.background = 'White';
                body.innerHTML = response_json.message;
                // TODO add if for failed loggin
                // TODO add beatiful message for loggin page
            }

        })
        // btn.click()
    })
    </script>
    <!-- <link rel="stylesheet" type="text/css" href="static/styles.css" /> -->
</head>
<body>
    <div class="placeholder"></div>
    <form method="POST" action="/api/login">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <input type="submit" value="Войти" />
    </form>
    <div class="placeholder"></div>
</body>
</html>
